./vscode
baz.txt
foobar.txt
execute.o
hello.txt
io
OrientaciÃ³n del Proyecto (version 5).pdf
shell
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
io.c
links.txt
.fuse_hidden0000172300000002
.fuse_hidden0000172900000003
.fuse_hidden00019c6e00000003
.fuse_hidden00019c6a00000002
.idea/
abstract-syntax-tree.h
